<div class="master-details">
  <shared-master-detail
    [dataList]="
      customers() | filterCustomerType : customerType() | filterCustomerName : searchText()
    "
  >
    <shared-master-caption>
      <div class="customer-caption">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="Search by name"
              [ngModel]="searchText()"
              (ngModelChange)="searchText.set($event)"
            />
          </p>
          <p class="control">
            <span class="select">
              <select (change)="onTypeChange($event)">
                @for (item of customerTypeNames; track item) {
                <option [value]="item">{{ item }}</option>
                }
              </select>
            </span>
          </p>
        </div>
      </div>
    </shared-master-caption>
    <shared-master *sharedMasterItem="let item">
      <app-customer-list-item [customer]="item" (select)="onClick($event)"></app-customer-list-item>
    </shared-master>
    <shared-detail>
      <app-customer-details [customer]="selectedCustomer()"></app-customer-details>
    </shared-detail>
  </shared-master-detail>
</div>
