<div>
  <shared-master-detail [dataList]="customers$ | async">
    <shared-master-caption>
      <div class="customer-caption">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="Search by name"
              [(ngModel)]="searchText"
            />
          </p>
          <p class="control">
            <span class="select">
              <select (change)="onTypeChange($event)">
                <option selected value="All">All</option>
                <option *ngFor="let type of customerTypeNames" [value]="type"> {{ type }} </option>
              </select>
            </span>
          </p>
        </div>
      </div>
    </shared-master-caption>
    <shared-master *sharedMasterItem="let item">
      <app-customer-list-item [customer]="item"></app-customer-list-item>
    </shared-master>
    <shared-detail>bye</shared-detail>
  </shared-master-detail>
</div>
