<shared-navbar>
  <div class="navbar-item head">
    <span class="has-text-weight-bold is-size-4">Shop</span>
  </div>

  <div class="navbar-start">
    <a
      class="navbar-item is-size-5"
      [routerLink]="['forms']"
      routerLinkActive="has-background-primary"
      >Form</a
    >
    <a
      class="navbar-item is-size-5"
      [routerLink]="['display']"
      routerLinkActive="has-background-primary"
      >Display</a
    >
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <a class="button is-danger" [routerLink]="['/home']" routerLinkActive="has-background-primary"
        >Logout</a
      >
    </div>
  </div>
</shared-navbar>

<div class="dashboard" [@routerTransition]="getState(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
