/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma"
@import "./sass/scroll"
@import "./sass/list"

html
  height: 100%
  overflow: hidden

body
  min-height: 100%
  overflow: hidden

div.margin
  margin: 10px

div.scroll-y
  overflow-y: auto
  overflow-x: hidden

.divider
  border-bottom: 1px solid hsl(0, 0%, 86%)
  margin: 0px 11px

.customer-item
  cursor: pointer
  padding: 8px 10px
  &:hover
    background-color: #dbdbdb

.customer-caption
  margin: 8px

.master
  border-right: 1px solid hsl(0, 0%, 86%)

.h100
  height: 100%

.hv100
  height: 100vh
