/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma"
@import "./sass/scroll"

html
  height: 100%
  overflow: hidden

body
  min-height: 100%
  overflow: hidden

div.margin
  margin: 10px

div.scroll-y
  overflow-y: auto

div.dashboard
  height: 96vh

.divider
  border-bottom: 1px solid hsl(0, 0%, 86%)
  margin: 0px 11px

.customer-item
  margin: 8px 10px

.customer-caption
  margin: 8px

.master
  border-right: 1px solid hsl(0, 0%, 86%)
  padding-right: 0px
