<section class="hero is-dark is-bold">

  <div class="hero-body">
    <div class="container">

      <h1 class="title has-text-centered-mobile">
        Shop
      </h1>
      <h2 class="subtitle has-text-centered-mobile">
        Maintain Data
      </h2>

    </div>
  </div>

</section>

<section class="section">
  <div class="container">

    <div class="columns is-centered is-mobile">
      <h1 class="title">Login</h1>
    </div>

    <div class="columns is-centered">
      <div class="column is-half">
        <app-login></app-login>
      </div>
    </div>

  </div>
</section>
