<div class="customer-item item-hover" (click)="onclick()">
  <div class="columns">
    <div class="column is-narrow">
      <figure class="image is-48x48">
        <img
          class="is-rounded"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
        />
      </figure>
    </div>
    <div class="column">
      <span>{{ _customer.name }}</span> <br />
      <span>{{ _customer.type }}</span>
    </div>
  </div>
</div>
